  /* Set a style for all buttons */
  .login-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  /* Add a hover effect for buttons */
  .login-button:hover {
    opacity: 0.8;
  }
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  /* Avatar image */
  img.avatar {
    width: 10%;
    border-radius: 28%;
  }
  /* Add padding to containers */
  .container {
    padding: 16px;
  }